ul#vertical-multilevel-menu, #vertical-multilevel-menu ul
{
	margin: 0; 
	padding: 0; 
	list-style: none; 
	width: 210px;
	font-size:13px;
	font-weight: bold;
	padding: 10px 0;
    border-radius: 6px;
	background: #f5f5f5;
}

/*Submenu box*/
#vertical-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:1000;
	height:auto;
	width:200px;
}

/* Submenu Items */ 
#vertical-multilevel-menu li a
{ 
	display: block; 
	text-decoration: none; 
	color: #4F4F4F; 
	padding: 5px; 
	background:#e3e3e3;
}

/*Items selected*/
#vertical-multilevel-menu li a.item-selected
{ 
	background-color: #D6D6D6;
}

/*Items Hover */
#vertical-multilevel-menu li a:hover
{
	background-color: #D6D6D6;
} 

/*Rootmenu Items*/
#vertical-multilevel-menu a.root-item{
	font-style: oblique;
	color:#333;
	font-size:15px;
	padding:5px 0 5px 35px;
	margin-bottom: 2px;
	background:url(images/item_bg.gif) 0 0 no-repeat;
	border-radius: 6px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	overflow:hidden;
	height: 29px;
}

/*Rootmenu Items hover*/
#vertical-multilevel-menu a.root-item:hover, #vertical-multilevel-menu a.root-item-selected:hover
{
	background:url(images/item_bg.gif) 0 -26px no-repeat;
	/border-radius: 4px;
}

/*Rootmenu Items Selected*/
#vertical-multilevel-menu a.root-item-selected
{
	color:#333;
	font-style: oblique;
	font-size:15px;
	padding:5px 0 5px 35px;
	background: url(images/item_bg.gif) 0 -26px no-repeat;
	border-radius: 4px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	/*height:26px;
	overflow:hidden;*/
}

/*Parent item*/
#vertical-multilevel-menu a.parent
{
	background: #F5F5F5 url(images/arrow.gif) center right no-repeat;
	padding-right:10px;
}

/*Denied items*/
#vertical-multilevel-menu a.denied
{
	background: #F5F5F5 url(images/lock.gif) center right no-repeat;
	color:#DDDDDD;
	padding-right:10px;
}

/* Holly Hack. IE Requirement \*/ 
* html ul#vertical-multilevel-menu li { float: left; height: 1%; } 
* html ul#vertical-multilevel-menu li a { height: 1%; } 
/* End */ 


/*Submenu margin*/
#vertical-multilevel-menu li ul.root-item
{
	margin:-39px 0 0 200px;
}

#vertical-multilevel-menu li ul
{
	margin:-35px 0 0 133px;
}

/*Submenu hide*/
#vertical-multilevel-menu li:hover ul ul,
#vertical-multilevel-menu li.jsvhover ul ul,
#vertical-multilevel-menu li:hover ul ul ul,
#vertical-multilevel-menu li.jsvhover ul ul ul 
{
	/*top:-999em;*/
	display:none;
}

/*Submenu show*/
#vertical-multilevel-menu li:hover ul,
#vertical-multilevel-menu li.jsvhover ul,
#vertical-multilevel-menu li li:hover ul,
#vertical-multilevel-menu li li.jsvhover ul,
#vertical-multilevel-menu li li li:hover ul,
#vertical-multilevel-menu li li li.jsvhover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}
.zebra{
	width:210px;
	height:10px;
	margin-left:3px;
	background:url("images/calc-ar.png");


}
.zebra_out{
	background:#e3e3e3;
	width:212px;
	height:10px;
	border-rsdius:2px;
	margin-left:1px;
}